@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-bg: #1c2127;
  --secondary-bg: #111111;
  --detail-color: #0099ff;
  --detail-sec-color: #3bbffc;
}

html {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  background: var(--primary-bg);
  margin: 0;
}

.navbar {
  position: fixed;
  width: calc(100% - 80px);
  height: 64px;
  background: var(--secondary-bg);
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 100;
}

.logo {
  height: 100%;
  width: 250px;
}

.menu {
  display: flex;
}

.menu-item {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  align-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
  user-select: none;
}

.active {
  background: var(--detail-color);
}

.menu-item:hover {
  background: #333333;
}

a {
  text-decoration: none;
  color: var(--primary-bg);
  height: 100%;
}

a:hover {
  color: var(--secondary-bg);
}

.main {
  width: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 64px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  min-height: 800px;
}

.content-wrapper.animate {
  animation: slideIn 5s ease-out;
}

.vertical {
  flex-direction: column;
  gap: 20px;
}

.horizontal {
  flex-direction: row;
  gap: 20px;
}

.hero {
  text-align: center;
}

.hero-wrapper {
  margin: auto;
}

.hero-wrapper h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.hero-text {
  text-transform: uppercase;
  color: var(--detail-color);
  background: linear-gradient(
    to right,
    var(--detail-color),
    var(--detail-sec-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden {
  opacity: 0;
  transition: all 1.2s ease-in-out;
  transform: scale(0.2);
  transform: translate(-100%);
  filter: blur(1px);
}

.content:nth-child(2) {
  transition-delay: 300ms;
}
.content:nth-child(3) {
  transition-delay: 600ms;
}
.content:nth-child(3) {
  transition-delay: 900ms;
}

@media (preferes-reduced-motion: reduce) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
  filter: blur(0px);
}

.content {
  display: flex;
  justify-content: center;
  margin: auto;
}

.ai-image {
  height: 100%;
  bottom: 0;
  user-select: none;
}

.ai-image img {
  max-width: 600px;
  border-bottom: 4px white solid;
}

.caption {
  width: 30%;
  height: 100%;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.socials {
  display: flex;
  gap: 20px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  color: var(--detail-color);
  background: linear-gradient(
    to right,
    var(--detail-color),
    var(--detail-sec-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card p {
  white-space: pre-line;
  margin: 0;
  line-height: 1.2;
  padding: 5px;
}

.card::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 200px;
  background: white;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 7px;
}

.last-card .card::after {
  display: none;
}

.details {
  font-style: italic;
  opacity: 0.5;
}

.skill-category {
  margin: auto;
  text-align: center;
}

.skill {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.spacer {
  padding-left: 10px;
  padding: 10px;
  background-color: white;
}

.highlighted {
  background: linear-gradient(
    to top,
    var(--detail-color),
    var(--detail-sec-color)
  );
  color: var(--primary-bg);
  box-shadow: 10px 0 10px black;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.scroll-down {
  margin-bottom: 150px;
  opacity: 0.8;
  animation: blink 2s ease infinite;
}

@media screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    justify-content: left;
    width: 90vw;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 100;
  }

  .main {
    width: 100vw;
  }

  .content-wrapper {
    width: 100vw;
  }

  .content {
    max-width: 90vw;
  }

  .logo {
    width: 0;
  }

  .menu-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-wrapper h1 {
    font-size: 2rem;
  }

  .ai-image img {
    max-width: 80%;
  }

  .caption {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .card::after {
    width: 100px;
  }

  #about .content {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .socials {
    text-align: center;
    margin: auto;
    justify-content: center;
  }

  .card {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 90vw;
  }

  .skill {
    max-width: 90vw;
  }

  .skill:nth-child(1) ng-icon {
    --ng-icon__size: 32px !important;
  }

  .skill:nth-child(2) ng-icon {
    --ng-icon__size: 24px !important;
  }

  .skill:nth-child(3) ng-icon {
    --ng-icon__size: 18px !important;
  }
}
